@import url('https://fonts.googleapis.com/css?family=Exo:100');

body {
  /* margin-top: 13.5rem; */
  color: #d1d1d1;
  /* font: 400 16px/1.5 'Exo', ubuntu, 'Segoe UI', helvetica, arial, sans-serif; */
  /* text-align: center; */

  /* Background image */
  /* background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0; */

  /* Animation */
  /* animation: bg-scrolling-reverse 4.00s infinite linear; */
}

/* 
body::before {
  content: "INFINITY";
  font-size: 8rem;
  font-weight: 100;
  font-style: normal;
  display: block; 
} 
*/

/* Keyframes */
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}